* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}
.bg-image {
  position: fixed;
  z-index: -1;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #bed6f5;
  background-image: url(../images/background_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
  background-color: #000000;
  position: fixed;
  z-index: -1;
  top: 0;
  height: 100vh;
  width: 100%;
  opacity: 0.05;
}
.bg-wallpaper-gallery {
  position: fixed;
  z-index: -1;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  background-image: url(../images/background_image_gallery.jpg);
  background-size: 200px 200px;
  background-repeat: repeat;
}
.container {
  padding: 20px;
  max-width: 1280px;
  width: 100%;
  margin: auto;
}
.inner {
  border-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 40px rgb(0, 103, 213);
}
.footer {
  color: rgb(255, 255, 255);
  margin-bottom: 0;
  margin-top: auto;
  background-color: #265e88;
  opacity: 0.95;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
}
.footer-text {
  padding: 20px;
  max-width: 1280px;
  margin: 0 auto;
}
.header {
  background-color: #265e88;
  opacity: 0.95;
  border-radius: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.main {
  margin-top: 220px;
  margin-bottom: 200px;
}
.navbar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  min-height: 100px;
}
.navbar-link {
  background-color: #ffffff;
  opacity: 0.95;
  padding: 1em;
  display: block;
  border-radius: 10px;
  text-transform: uppercase;
  transition: 0.45s;
  text-decoration: none;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 1px;
}
.navbar-link:hover {
  transform: scale(1.1) translateY(-3px);
  background-color: rgb(238, 150, 18);
  color: rgb(95, 255, 78);
}

/* Оформление текста */

h1 {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}
h2 {
  font-size: 32px;
}
.subtitle {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}
.p-articles::first-letter {
  color: crimson;
  font-size: 30px;
  font-weight: 700;
  padding: 1px;
  margin-right: 1px;
}
.h1-articles {
  text-align: center;
}
.h2-articles {
  text-align: center;
}
a {
  color: #0c08d1;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5em;
  margin: 20px 20px;
}

/* Каталог */

.sublist {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  margin: 10px;
  padding: 10px 10px 10px 37px;
  list-style-image: url(../images/icon_check.png);
  background-color: #9af9b7;
  border-radius: 25px;
  width: 280px;
}
.list-katalog {
  font-size: 22px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2em;
  padding: 1em 2em;
}
.toys {
  list-style-image: url(../images/toys.png);
}
.accessories {
  list-style-image: url(../images/accessories.png);
}
.home-textiles {
  list-style-image: url(../images/home_textiles.png);
}
.new::after {
  content: "new";
  background: rgb(198, 26, 0);
  border-radius: 5px;
  color: rgb(236, 236, 236);
  font-size: 70%;
  border: 2px solid;
  padding: 2px;
  margin-left: 2px;
}
.slide-gallery {
  border: 3px solid rgb(244, 206, 53);
}
.slide-gallery:hover {
  border-color: transparent;
}
.section-gallery {
  text-align: center;
  align-items: center;
}
.center {
  text-align: center;
}
.comments {
  color: rgb(234, 12, 12);
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.more:hover {
  text-decoration: none;
  color: rgb(251, 251, 251);
}
.article-title {
  text-decoration: none;
  color: rgb(155, 244, 90);
  border-bottom: groove;
}
.article-text {
  background-color: #eeeeee;
  border-radius: 8px;
  padding: 5px;
}
.anchor {
  display: block;
  position: relative;
  top: -140px;
  visibility: hidden;
}
.anchor > span {
  position: absolute;
}

/* Формы и кнопки */

fieldset {
  max-width: 500px;
  margin: 25px auto;
  font-size: 14px;
  background-color: #eeb853;
  font-weight: 500;
  border-style: solid;
  border-color: #fbfbfb;
}
input {
  width: 100%;
  padding: 10px 20px;
}
input[type="file"] {
  padding: 0;
}
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
textarea {
  width: 100%;
  padding: 10px 20px;
  resize: vertical;
  min-height: 75px;
  max-height: 35vh;
}
legend {
  transform: translateY(-10px);
  color: #d49d36;
}
.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-group-sm {
  margin: 10px 0 5px;
}
.form-group-sm:hover {
  outline: 2px dotted rgb(95, 95, 95);
}
.capitalized {
  text-transform: capitalize;
}
button[type="submit"] {
  background-color: #f3c90f;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-link {
  background-color: #ffbe41;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-link:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
}
button[type="reset"] {
  border-color: #b4b4b4;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}
button[type="submit"]:hover,
button[type="reset"]:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
}
.btn-set {
  max-width: 500px;
  margin: 25px auto;
  display: flex;
  gap: 1em;
  justify-content: center;
}
